C:/Users/ROG/Documents/GitHub/GangsterHamster/FutureHamster filter=lfs diff=lfs merge=lfs -text
FutureHamster/Library/PackageCache/com.unity.burst@1.6.5/.Runtime/hostmac/lld filter=lfs diff=lfs merge=lfs -text
FutureHamster/Library/PlayerDataCache/Win64/Data/sharedassets0.assets.resS filter=lfs diff=lfs merge=lfs -text
LightingData.asset filter=lfs diff=lfs merge=lfs -text
